
@import url('https//fonts.googleapis.com/css2?family=Monserrat:wght@100&dislay=swap!');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family:Monserrat;
    background-color: #f4f4f4;
    color: #333;
  }

  
  .menu {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .menu nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .menu nav ul li {
    margin-right: 20px;
  }
  
  .menu nav a {
    color: #fff;
    text-decoration: none;
  }

nav a:hover{
    text-decoration: underline;
    margin : 0px;
    padding: 0px;
    font-family:Monserrat;
    color: rgb(149, 40, 58);
    text-decoration: none;

}

header {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #F7F9FA;

}

/*HEADER Y BARRA DE NAVEGACION SON IGUALES PARA TODOS LOS CSS*/

h2{
    font-family:Monserrat;
    text-align: center;
    font-size: xx-large;
}

h3{
    font-family:Monserrat;
    font-size: xx-large;
    text-align: center;
}

  
  /* FORMULARIO */
  
  form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 40px;
  }
  .formulario-detalles{
    padding: 10px;
  }

  form input[type="text"],
  form input[type="number"],
  form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  
  form input[type="submit"] {
    padding: 10px 15px;
    margin: 5px;
    background-color: #8a0874;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color: #1de251;
  }

  /*FOOTER*/
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
    
  }
  
  footer p {
    color: white;
    margin-bottom: 10px;
  }

  /*Francisco Luengo Gómez*/